h2 Creating reusable components with Browserify

p This template is rendered with <a href="https://github.com/domenic/jadeify">jadeify</a> and is located in /client/template.jade

div.components

  div.row

    div.col-md-6
      div.item

        p.lead Counter (located in /client/components/counter)
        p Starting with "1", it will add "1" every second
        div#counter-1

    div.col-md-6
      div.item

        p.lead Another instance of Counter
        p Starting with "1", it will add "2" every two second
        div#counter-2
